@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

:root{
    --main-color: #2ECB89;
    --choose: #F8F8F8;
    --bg: #ffffff;
    --black: #000000;
    --border: 3px solid #1eb979;
}

*{
    font-family: 'Poppins';
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    outline: none; 
    border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}

html{
    font-size: 16px;
    overflow-x: hidden;
    scroll-padding-top: 90px;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 12px;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 50px;
}

body{
    background: var(--bg);
}

section{
    padding: 0;
}

.btn{
    margin-top: 20px;
    display: inline-block;
    padding: 9px 30px;
    font-size: 16px;
    color: var(--bg);
    background: var(--main-color);
    cursor: pointer;
    border-radius: 20px;
}

.btn:hover{
    letter-spacing: 2px;
}

.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 50px;
}

.header .navbar a{
    margin: 0 12px;
    font-size: 16px;
    color: var(--black);
}

.header .navbar a:hover{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
    padding-bottom: 3px;
}

.header .icons div{
    color: var(--black);
    cursor: pointer;
    font-size: 24px;
    margin-left: 20px;
}

.header .icons div:hover{
    color: var(--main-color);
}

#menu-btn{
    display: none;
}

.beranda{
    margin-top: 100px;
}

.beranda .row{
    display: flex;
    align-items: center;
    background: var(--choose);
    flex-wrap: wrap;
    padding: 35px;
}

.beranda .row .image{
    width: 350px;
    height: 450px;
    margin-right: 50px;
}

.beranda .row .image img{
    width: 100%;
}
.beranda .row .content{
    flex: 1 1 100px;
    padding: 90px;
}

.beranda .row .content h3{
    font-size: 32px;
    color: var(--black);
}

.beranda .row .content p{
    font-size: 16px;
    color: var(--black);
    padding: 10px 0;
    line-height: 1.8;
}

.kontak{
    display: flex;
    background-color: var(--bg);
    padding: 50px;
}

.kontak .row{
	max-width: 100%;
	margin:auto;
}

.kontak .row .content{
	display: flex;
	flex-wrap: wrap;
    padding: 50px 0 50px 0;
}

.kontak .row .content .kontak-col{
    width: 50%;
    padding: 50px;
}

.kontak .row .content .kontak-col h3{
	font-size: 32px;
	color: var(--black);
	margin: 50px 0 20px 0;
	font-weight: 500;
}

.kontak .row .content .kontak-col h4{
	font-size: 24px;
	color: var(--black);
	margin: 20px 0 20px 0;
	font-weight: 500;
}

.kontak .row .content .kontak-col p{
    font-size: 16px;
    margin: 10px 150px 20px 0;
    color: var(--black);
    text-decoration: none;
}

.footer{
    display: flex;
    background-color: #153F5A;
    padding: 0 0 30px 0;
}

.footer .row{
	max-width: 100%;
}

.footer .row .content{
	display: flex;
	flex-wrap: wrap;
    padding: 50px;
}

.footer .row .content .footer-col{
    width: 25%;
    padding: 0 20px;
}

.footer .row .content .footer-col h4{
	font-size: 24px;
	color: var(--bg);
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer .row .content .footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: var(--main-color);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer .row .content .footer-col p{
    font-size: 16px;
    margin: 10px 50px 20px 0;
    color: var(--bg);
}

.footer .row .content .footer-col ul li a{
	font-size: 16px;
	font-weight: 300;
	color: var(--bg);
	display: block;
	transition: all 0.3s ease;
}

.footer .row .content .footer-col ul li a:hover{
	color: var(--main-color);
}

.footer .row .content .footer-col .share a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: var(--bg);
	transition: all 0.5s ease;
}
.footer .row .content .footer-col .share a:hover{
	color: var(--black);
	background-color: var(--main-color);
}

.footer-bottom center{
    padding: 35px 0 0 0;
    font-size: 18px;
    border-top: 2px solid var(--bg);
}

.footer-bottom center span{
    color: var(--bg);
}








/* media queries  */
@media (max-width:991px){
    html{
        font-size: 60%;
    }

    .header{
        padding: 15px 20px;
    }

    section{
        padding: 5px;
    }

}

@media (max-width:768px){
    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top: 100%; 
        right: -100%;
        background: var(--bg);
        width: 300px;
        height: calc(100vh - 95px);
    }

    .header .navbar.active{
        right: 0;
    }

    .header .navbar a{
        color: var(--black);
        display: block;
        margin: 15px;
        padding: 5px;
        font-size: 20px;
    }

    .beranda{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .beranda .content h3{
        font-size: 45px;
    }

    .beranda .content p{
        font-size: 15px;
    }

}
